# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/releases

# build output
/build
/dist
/dist-dev
/lib
/lib-types
/server

# cache
.cache
.rollup.cache
*.tsbuildinfo

# env files (can opt-in for committing if needed)
.env*
*.local

# editor and system files
.DS_Store
.idea
*.pem

# debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# misc
certificates
